.feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.feedbackItem {
  margin-top: 30px;
  width: 160px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fb955b;
  box-shadow: 0 1px 7px rgba(15, 15, 15, 0.9);
  font-size: 20px;
  font-weight: bold;
}
.feedbackItem:hover,
.feedbackItem:focus,
.feedbackItem:active {
  background-color: #ffd96e;
  cursor: pointer;
}
.feedbackReset {
  margin-top: 30px;
  width: 160px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ba4a3f;
  box-shadow: 0 1px 7px rgba(15, 15, 15, 0.9);
  font-size: 20px;
  font-weight: bold;
}
.feedbackReset:hover,
.feedbackReset:focus,
.feedbackReset:active {
  background-color: #ffd96e;
  cursor: pointer;
}
